<ion-list ng-controller = 'cancelPopupCtrl'>
  <label class="item item-radio">
      <input type="radio" ng-model="choice" ng-value="'invalid'">
      <div class="item-content">
         Invalid address / mobile number
      </div>
      <i class="radio-icon ion-checkmark"></i>
   </label>
  <label class="item item-radio">
      <input type="radio" ng-model="choice" ng-value="'notAvailable'">
      <div class="item-content">
         None of the items are available
      </div>
      <i class="radio-icon ion-checkmark"></i>
   </label>
</ion-list>